//Imports
@import "compass";
@import "compass/reset";
//Begin Styling
html {
	height: 1000px;
}
.container {
	h1 {
		margin-top: 20px;
		font-size: 30px;
		width: 100%;
		color: #272727;
		height: 50px;
	}
	p {
		font-size: 16px;
		margin-top: 20px;
		color: #000000;
	}
	.advertisement {
		width: 200px;
		margin: 0px auto 0px auto;
		display: block;
		float: right;
		padding: 50px;
	}
}